html{
    scroll-behavior: smooth;
}


#navbar {
    background-color: #333;
    position: fixed; 
    top: -50px;
    width: 100%;
    transition: top 0.3s;
}

.jumbotron{
    background-image: url('/img/cbf_009.png');
    background-size: cover;
    margin-top: -80px;
    height: 500px;
}

.jumbotron .display-4{
    margin-top: 200px;
    font-size: 40px;
    color: white;
}

.jumbotron .lead{
    color: white;
}

hr{
    width: 160px;
    border-top: 3px solid #eaeaea;
}

